/* Write your CSS Here. */
label, input, textarea{
    display: block;
    width: 50%;
}

input, textarea {
    margin-bottom: 50px;
}

textarea {
    min-width: 50%;
    max-width: 270px;
    min-height: 7rem;
    max-height: 7rem;
}

.body-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    width: 300px;
    background: rgb(0, 255, 191);
    box-shadow: 0rem 8rem 8rem 0rem rdba(0, 0, 0, 0.5);
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 2.5rem;
}

.h1-title {
    text-align: center;
    color:rgb(255, 0, 136)
}

.submit {
    width: 5rem;
}